

<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
  </head>
  <body>

    <h1>Add Friend to Group!</h1>
    <form action="/addfriend" method="POST">

      {%for item in friendGroup%}
          <input type="radio" id="add" name="group" value="{{item.groupName}}">{{item.groupName}}</input><br>

      {%endfor%}

      <br>

      <label for="add">Add Friend</label><br>
      <input type="text" id="add" name="friend" value="friend" placeholder="username"></input>




        <input type="submit">

      {% if message %}
        <p class="error"><strong>Type of Message:</strong> {{message}}</p>
      {% endif %}

      <!-- <input type="submit"> -->

    </form>


<a href="/home">Go Back</a>









  </body>
</html>
