<html>
<head>
</head>
<body>


<h1>Welcome {{username}}</h1>
<br>
<table>
<th>Followers</th>
<!-- <th>Following</th> -->
</table>
<br>
{% for line in photos %}
<table>

	<!-- <td>{{line.follower}}</td> -->
	<td>{{line.followee}}</td>
</table>
{% endfor %}



<br>
<form action="/post" method="POST">

	<!--{{username}} is the value passed from data in previous forms -->
	<!-- <input type="text" name = "photo" placeholder="post" required/> </br>
	<input type="submit" value = Post /> -->
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>



<br>

<br>



<!--end of for table -->
<a href="/notifications">notifications</a> <!--links in href reference actual flask function
specified in the the form action -->
<br>
<a href="/post_photo">post</a>
<br>
<!-- <a href="/select_user">Select a Finstagram user</a> -->
<!-- <br> -->
<a href="/follow">Follow</a>
<br>
<a href="/friendGroups">Friend Groups</a>
<br>
<a href="/addfriend">Add Friend</a><br>
<a href="/shareWithGroup">Share photo with friendgroup</a><br>
<a href="/viewPhotos">View Photos</a><br>
<a href="/logout">Logout</a>

</body>


</html>
