<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
  </head>
  <body>
    <h1>View Photos</h1>


    <form action="/viewPhotos" method="POST">

      <h2>Select the photo you would like to see!</h2>


        {%for item in myData%}

            PhotoID: {{item.pID}} <br>
            First Name: {{item.firstName}} <br>
            Last Name: {{item.lastName}}<br>
            Date Posted: {{item.postingDate}}<br>
            <!-- <input type="hidden" name="groupCreator" value={{item.poster}}><br> -->
            <input type="radio" id="group" name="file" value={{item.filePath}}></input><br><br><br>

            <!-- <input type="hidden" name="file" value={{item.filePath}}><br><br> -->
        {%endfor%}

        <br>

        {%for item in groupData%}
         Photo ID: {{item.pID}}<br><br>
         Here is the filepath for the photo you have selected:  {{item.filePath}}<br><br>

         {%endfor%}




        {%if user_image%}

          <!-- <img src="{{user_image}}" alt="User Image" style="width:128px;height:128px;"><br><br>  -->
          <img src="{{user_image}}" alt="user image" width="43" height="43"><br><br>
          {{user_image}}
          
        {%endif%}


        <!-- <br>
        <label for=submit>View Photos</label><br>
        <input id="submit"type="submit"> -->

      {% if message %}
        <p class="error"><strong>Type of Message:</strong> {{message}}</p>
      {% endif %}

      <input type="submit">

    </form>

    <br><br>





<!-- <a href="/photoInfo">View Photo Info</a><br> -->
<a href="/home">Go Back</a>

  </body>
</html>
